# This workflow will run Pylint on your Python code
# See: https://docs.github.com/en/actions

name: Lint Python with Pylint

on:
  push:
    branches: [ main, create-app ]
  pull_request:
    branches: [ main, create-app ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Run Pylint on src and tests
        run: |
          pylint src tests
